*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

.wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: black;
  color: #ffffff;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nav-items-list{
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 65px;
  padding-top: 17px;
  flex-wrap: wrap;
}

.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease;
}

.nav-item:hover{
  transform: scale(1.05);
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 98;
  max-height: 0;
  min-width: 80px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.dropdown-content a{
  color: black;
  background-color: #f9f9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  max-height: 500px;
  min-width: 80px;
  transition: max-height 0.25s ease-in;
}

.dropdown:hover .dropbtn {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  transition: max-height 0.25s ease-in;
}

.nav-item span{
  margin-right: 5px;
}

.register-btns-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.request-demo-btn{
  font-weight: bold;
  transition: all .3s ease;
}

.request-demo-btn:hover{
  transform: scale(1.05);
}

.vertical-header-line{
  width: 1px;
  height: 25px;
  background-color: #ffffff;
  opacity: 0.5;
}

.signUp{
  font-weight: bold;
  margin-right: 25px;
  transition: all .3s ease;
}

.signUp:hover{
  transform: scale(1.05);
}

.freeVersion-btn{
  background-color: white;
  font-weight: bold;
  padding: 10px 15px;
  color: black;
  border-radius: 10px;
  transition: all .3s ease;
}

.freeVersion-btn:hover{
  transform: scale(1.05);
}

.freeVersion-btn:active{
  transform: scale(0.95);
}

/* Main Section */

.header-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
}

.title-headerSect{
  font-weight: bold;
  font-size: 58px;
  width: 600px;
  height: 120px;
  text-align: center;
  line-height: 59px;
  letter-spacing: -1.94px;
}

.underTitle-headerSect{
  font-size: 21px;
  text-align: center;
  width: 420px;
  height: auto;
  line-height: 22.7px;
  letter-spacing: -0.32px;
  margin-top: 60px;
  font-weight: 600;
}

.button-container-headerSect{
  margin-top: 25px;
}

.btn-headerSect{
  background-color: black;
  border-radius: 15px;
  padding: 10px 15px;
  color: white;
  transition: all .3s ease;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.btn-headerSect:hover{
  transform: scale(1.05);
}

.btn-headerSect:active{
  transform: scale(0.95);
}

/* Article Frame */

.article-frame{
  display: flex;
  place-content: center;
  margin-top: 215px;
  position: relative;
}


/* Companie Section */

.BestTeams-section {
  padding-top: 25vh;
  position: relative;
}

.wrapper-bestTeamsSect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-bestTeamsSect {
  font-weight: bold;
  line-height: 37.1px;
  letter-spacing: -0.92px;
  font-size: 34.06px;
  color: #050505;
}

.underTitle-bestTeamsSect {
  font-size: 14px;
  line-height: 17.4px;
  letter-spacing: 0.01px;
  width: 435px;
  text-align: center;
  color: #050505;
}

.bestTeamsSect-btn{
  font-size: 14px;
  line-height: 18.2px;
  color: #050505;
  margin-top: 15px;
  margin-bottom: 25px;
  transition: all .3s ease;
}

.bestTeamsSect-btn:hover{
  transform: scale(1.05);
}

.companies-list{
  padding-top: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.companies-list ul{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}

.companies-list-item img{
  width: 75px;
  height: auto;
}

.companies-list ul > .companies-list-item:nth-child(13){
  grid-column: 3 / 4;
}

.companies-list ul > .companies-list-item:nth-child(14){
  grid-column: 4 / 6;
}

.container {
  width: 300px;
  height: 200px;
}
.semi-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 300px 300px 0;
  background-color: transparent;
  border: 1px solid black;
  opacity: 0.1;
  border-left: none;
  overflow: hidden;
}
.semi-circle:nth-child(1) { width: 300px; height: 600px; top: 0; left: 0; }
.semi-circle:nth-child(2) { width: 240px; height: 480px; top: 60px; left: 0; }
.semi-circle:nth-child(3) { width: 180px; height: 360px; top: 120px; left: 0; }
.semi-circle:nth-child(4) { width: 120px; height: 240px; top: 180px; left: 0; }
.semi-circle:nth-child(5) { width: 60px; height: 120px; top: 240px; left: 0; }

/* Posibilities Section */

.posibilities-section {
  padding-top: 10vh;
}

.wrapper-posibSect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-posibSect {
  padding-bottom: 100px;
  font-weight: bold;
  font-size: 44.06px;
  line-height: 37.1px;
  letter-spacing: -0.92px;
  max-width: 364px;
  text-align: center;
}

.box {
  display: flex;
  padding-bottom: 200px;
}

.box:last-child{
  padding-bottom: 0;
}

.box[data-status="wiki-box"] .box-btn, 
.box[data-status="wiki-box"] .box-btn a {
  color: #EA4E43;
  transition: all .3s ease;
}

.box[data-status="docs-box"] .box-btn, 
.box[data-status="docs-box"] .box-btn a {
  color: #996600;
  transition: all .3s ease;
}

.box[data-status="projects-box"] .box-btn, 
.box[data-status="projects-box"] .box-btn a {
  color: #0A85D1;
  transition: all .3s ease;
}

.box-info{
  position: absolute;
  left: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.box-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  padding-bottom: 15px;
  gap: 10px;
}

.box-icon{
  height: 40px;
  width: auto;
  margin-top: -15px;
}

.box-underTitle {
  width: 171.75px;
  font-size: 16px;
  line-height: 17.4px;
  letter-spacing: 0.01px;
  padding-bottom: 25px;
}

.box-main {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
}

.box-btn:hover{
  transform: scale(1.05);
}

.box-btn:active{
  transform: scale(0.95);
}

.box-frame{
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Consolidate Toold Section */

.consolidateTools-Section {
  padding-top: 100px;
  position: relative;
}

.wrapper-toolsSect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container-toolsSect{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
}

.title-container-toolsSect {
  width: 360px;
}

.title-toolsSect {
  text-align: center;
  font-weight: bold;
  font-size: 44.06px;
  line-height: 37.1px;
  letter-spacing: -0.92px;
}

.drawingWomen-picture-container{
  right: 32%;
  top: 18%;
}

.containerS-titleH2-toolsSect {
  width: 555px;
}

.titleH2-toolsSect {
  font-size: 29.4px;
  font-weight: normal;
  text-align: center;
  line-height: 25.7px;
  letter-spacing: 0;
}

.author-toolsSect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.authorInfo-toolsSect{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15px;
}

.icon-toolssect img{
  width: 120px;
  height: auto;
}

.authorName-toolsSect {
  font-size: 14px;
  font-weight: bold;
  line-height: 14.4px;
  letter-spacing: 0.05px;
}

.authorDescription-toolsSect {
  font-size: 14px;
  line-height: 14.4px;
  letter-spacing: 0.08px;
}

/* Building Blocks(Visualization Section) */

.visualize-section {
  position: relative;
  padding-top: 20vh;
}

.wrapper-visualizeSect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.enteringInfo-visualizeSect {
  display: flex;
  align-items: center;
}

.twoPeople-picture-visualizeSect {
  position: sticky;
  margin-bottom: -10px;
  margin-left: -150px;
}

.title-container-visualizeSect {
  padding-left: 25px;
}

.title-visualizeSect {
  font-weight: bold;
  font-size: 44.06px;
  line-height: 37.1px;
  letter-spacing: -0.92px;
}

.box-wrapper-visualizeSect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.box-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  padding-bottom: 15px;
}

.box-icon-container-visualizeSect {
  display: flex;
  align-items: center;
}

.boxTitle-container-visualizeSect {
  display: flex;
  flex-direction: column;
}

.boxtitle-visualizeSect {
  font-weight: bold;
  font-size: 19px;
  line-height: 18.2px;
  letter-spacing: -0.1px;
}

.undertitle-container-visualizeSect {
  font-size: 14px;
  width: 450px;
  letter-spacing: 0.01px;
  line-height: 17.4px;
}

.visualization-visualizeSect{
  padding-bottom: 25px;
}

.visualization-visualizeSect img{
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-list ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.btn-visualizeSect{
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  pointer-events: none;
}

.btn-visualizeSect:hover{
  transform: scale(1.1);
}