*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

.wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: black;
  color: #ffffff;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nav-items-list{
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 65px;
  padding-top: 17px;
}

.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease;
}

.nav-item:hover{
  transform: scale(1.05);
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 98;
  max-height: 0;
  min-width: 80px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.dropdown-content a{
  color: black;
  background-color: #f9f9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  max-height: 500px;
  min-width: 80px;
  transition: max-height 0.25s ease-in;
}

.dropdown:hover .dropbtn {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  transition: max-height 0.25s ease-in;
}

.nav-item span{
  margin-right: 5px;
}

.register-btns-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.request-demo-btn{
  font-weight: bold;
  transition: all .3s ease;
}

.request-demo-btn:hover{
  transform: scale(1.05);
}

.vertical-header-line{
  width: 1px;
  height: 25px;
  background-color: #ffffff;
  opacity: 0.5;
}

.signUp{
  font-weight: bold;
  margin-right: 25px;
  transition: all .3s ease;
}

.signUp:hover{
  transform: scale(1.05);
}

.freeVersion-btn{
  background-color: white;
  font-weight: bold;
  padding: 10px 15px;
  color: black;
  border-radius: 10px;
  transition: all .3s ease;
}

.freeVersion-btn:hover{
  transform: scale(1.05);
}

.freeVersion-btn:active{
  transform: scale(0.95);
}

/* Main Section */

.header-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
}

.title-headerSect{
  font-weight: bold;
  font-size: 58px;
  width: 600px;
  height: 120px;
  text-align: center;
  line-height: 59px;
  letter-spacing: -1.94px;
}

.underTitle-headerSect{
  font-size: 21px;
  text-align: center;
  width: 420px;
  height: auto;
  line-height: 22.7px;
  letter-spacing: -0.32px;
  margin-top: 60px;
  font-weight: 600;
}

.button-container-headerSect{
  margin-top: 25px;
}

.btn-headerSect{
  background-color: black;
  border-radius: 15px;
  padding: 10px 15px;
  color: white;
  transition: all .3s ease;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.btn-headerSect:hover{
  transform: scale(1.05);
}

.btn-headerSect:active{
  transform: scale(0.95);
}

/* Article Frame */

.article-frame{
  display: flex;
  place-content: center;
  margin-top: 215px;
}

/* Companie Section */

.BestTeams-section {
  margin-top: 100px;
}

.wrapper-bestTeamsSect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-bestTeamsSect {
  font-weight: bold;
  line-height: 37.1px;
  letter-spacing: -0.92px;
  font-size: 34.06px;
  color: #050505;
}

.underTitle-bestTeamsSect {
  font-size: 14px;
  line-height: 17.4px;
  letter-spacing: 0.01px;
  width: 435px;
  text-align: center;
  color: #050505;
}

.bestTeamsSect-btn{
  font-size: 14px;
  line-height: 18.2px;
  color: #050505;
  margin-top: 15px;
  margin-bottom: 25px;
  transition: all .3s ease;
}

.bestTeamsSect-btn:hover{
  transform: scale(1.05);
}

.companies-list{
  display: flex;
  flex-direction: row;
}

.companies-list-item {}